In [1]:
# Import Essential Libraries 
import numpy as np
import pandas as pd

In [2]:
# Import dataset 'sports.csv'
dataset = pd.read_csv('sports.csv')
dataset

       Name  Age Gender     Sport
0      Love   32      M  Football
1   Anirudh   40      M   Neither
2     Pooja   16      F   Cricket
3     Priya   34      F   Cricket
4  Akhilesh   55      M   Neither
5     Rahul   40      M   Cricket
6      Riya   20      F   Neither
7     Smith   15      M   Cricket
8     Laxmi   45      F  Football
9      John   15      M  Football

In [3]:
# seprate dataset into dependent and independent variables
X = dataset.iloc[:,[1,2]].values
y = dataset.iloc[:,3].values

In [6]:
X

array([[32, 'M'],
       [40, 'M'],
       [16, 'F'],
       [34, 'F'],
       [55, 'M'],
       [40, 'M'],
       [20, 'F'],
       [15, 'M'],
       [45, 'F'],
       [15, 'M']], dtype=object)

In [9]:
# for encoding the data # sklearn provide algorithm in python
from sklearn.preprocessing import LabelEncoder
labelEncoder_X = LabelEncoder()
X[:,1] = labelEncoder_X.fit_transform(X[:,1])
X

array([[32, 1],
       [40, 1],
       [16, 0],
       [34, 0],
       [55, 1],
       [40, 1],
       [20, 0],
       [15, 1],
       [45, 0],
       [15, 1]], dtype=object)

In [ ]:
# Apply KNN algorithm